BEGIN;
--
-- Create model Task
--
CREATE TABLE "tasks_task" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "task_code" varchar(20) NOT NULL UNIQUE, "original_request" text NOT NULL, "intent" varchar(50) NOT NULL, "entities" text NOT NULL CHECK ((JSON_VALID("entities") OR "entities" IS NULL)), "risk_score" integer NOT NULL, "risk_breakdown" text NOT NULL CHECK ((JSON_VALID("risk_breakdown") OR "risk_breakdown" IS NULL)), "status" varchar(20) NOT NULL, "employee_team" varchar(50) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
--
-- Create model Step
--
CREATE TABLE "tasks_step" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "step_number" integer NOT NULL, "description" text NOT NULL, "completed" bool NOT NULL, "task_id" bigint NOT NULL REFERENCES "tasks_task" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model StatusHistory
--
CREATE TABLE "tasks_statushistory" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "old_status" varchar(20) NOT NULL, "new_status" varchar(20) NOT NULL, "changed_at" datetime NOT NULL, "task_id" bigint NOT NULL REFERENCES "tasks_task" ("id") DEFERRABLE INITIALLY DEFERRED);
--
-- Create model Message
--
CREATE TABLE "tasks_message" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "channel" varchar(20) NOT NULL, "content" text NOT NULL, "task_id" bigint NOT NULL REFERENCES "tasks_task" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "tasks_step_task_id_d4ea36b6" ON "tasks_step" ("task_id");
CREATE INDEX "tasks_statushistory_task_id_a46573ca" ON "tasks_statushistory" ("task_id");
CREATE UNIQUE INDEX "tasks_message_task_id_channel_5b30bbd4_uniq" ON "tasks_message" ("task_id", "channel");
CREATE INDEX "tasks_message_task_id_3b8fb6b5" ON "tasks_message" ("task_id");
COMMIT;
